<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style-of-akaishikiso1.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">全学教育棟C25</div>
    </div>
    <div class="main">
        <div class="circle1"></div>
        <div class="account-name1">赤い色素</div>
        　<div class="tweet1">フランス語の先生は土佐犬とその飼い主の緑ジャージと白スニーカーが好き</div>
    </div>
    <div class="footer">

    </div>
</body>
</html>
