.box-a {
    width: 100%;
    height:180px;
    background-color:gold;
}

.box-b {
    width:30%;
    height:180px;
    float:left;
    background-color: blueviolet;
}

.box-c {
    width:20%;
    height:180px;
    float:right;
    background-color: crimson;
}

.box-d {
    width:500px;
    height:500px;
    background-color: chartreuse;
    clear:both;
}