<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/zuochan.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="title">ツイート入力画面</h1>

    </header>
    <main>
        <button type="button" onclick="history.back()">←</button>
        <img src="image.png" alt="画像" title="アイコン">
        <form action="#" method="post">
            <p>名前を入力<br>
                <input type="#" name="name">
            </p>
            <p>つぶやきを入力<br>
                <textarea type="text" name="tweet"></textarea>
            </p>
            <p>場所を選択する</p>
        </form>
        <button type="submit" id="submit">ツイートする</button>
    </main>
</body>

</html>