<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/zuochan.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="#" method="post">
            <p>名前を入力<br>
                <input type="#" name="name">
            </p>
            <p>つぶやきを入力<br>
                <textarea type="text" name="tweet"></textarea>
            </p>
        </form>
    </main>
</body>

</html>